body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

main{
  width:600px;
  height: 600px;
}
#svg{
  background-color: white;
  border: 1px solid;
}
#download{
  text-transform: uppercase;
  display: block;
  color: black;
  text-decoration:none;
  letter-spacing: 1px
}
.path{
  fill: none;
  stroke: #fff;
}
